/* Grid */

.grid{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}

.grid-nav {
  grid-column: 1/-1;
  grid-row: 1;
  
}
.grid-main{
  grid-column: 2/3;
  grid-row: 2;
}
.grid-pop-cat{
  text-align: center;
  grid-column: 2/3;
  grid-row: 3;
}
.grid-pop-cour{
  text-align: center;
  grid-column: 2/3;
  grid-row: 4;
  background: #1d2f39;
}
.grid-photo{
  text-align: center;
  grid-column: 2/3;
  grid-row: 5;
  margin-top: 100px;
}
.grid-team{
  text-align: center;
  grid-column: 2/3;
  grid-row: 6;
}
.grid-events{
  text-align: center;
  grid-column: 2/3;
  grid-row: 7;
}
.grid-feedback{
  grid-column: 2/3;
  grid-row: 8;
  text-align: center;

}
.grid-career{
  grid-column: 2/3;
  grid-row: 9;
}
.grid-artices{
  grid-column: 2/3;
  grid-row: 10;
  text-align: center;
}
.grid-prefooter{
  grid-column: 1/-1;
  grid-row: 11;
  background-color: #cd5a2b;
}

.grid-footer{
  grid-column: 2/3;
  grid-row: 12;
}
.bg-dark {
  grid-column: 1 / -1;
  grid-row: 4;
  background: #1d2f39;
}

.bg-light{
  grid-column: 1 / -1;
  grid-row: 6;
  background: #ecf3f5;
}

.bg-light-2{
  grid-column: 1 / -1;
  grid-row: 9;
  background: #ecf3f5;
}

.bg-main{
  grid-column: 2 / 3;
  grid-row:  1/span 2;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-light-main{
  grid-column: 1 / 2;
  grid-row:  1/ span 2;
  background: #ecf3f5;
}

.bg-dark-main {
  grid-column: 3 / 4;
  grid-row: 1/span 2;
  background: #cddde3;
}

.flex-main .fa-wheelchair{
  float: left;
  color: #ea5822;
  margin-right: 10px;
}

.feedback-bg{
  grid-column: 1/ -1;
  grid-row: 8;
  background-image: url(../img/students-say-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bg{
  grid-column: 1 / -1;
  grid-row: 12;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navigace */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
  font-family: 'Roboto Black';
  display: block;
  color: #062a35;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.left-nav {
  margin-top: 20px;
  float:left;
}
.right-nav{
  margin-top: 20px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  list-style-type: none;
  float: right;
}
.right-nav-item {
  background: white;
  margin: 0 5px;
}

.left-nav i{
  color: #062a35;
}

/* Celá stránka */
main {
  background: #eaf4f7;
}

h3 {
    color: #ea5822;
}

.section-names{
  margin-top: 100px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.price {
  background-color: #ea5822;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30%;
  margin-left: 100px;
}
.rounded-text {
  background-color: #ea5822;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30%;
}

.big-button{
  border: 1px solid #587887;
  background-color:  #1d2f39;
  color:  #587887;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 100px;
}

.middle-button{
  border: 1px solid #ea5822;
  background-color:  white;
  color: #ea5822;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 55px;
}

.big-button:hover{
  background-color: #ea5822;
  color: white;
}

.small-button{
  padding: 15px 15px;
  background-color: #062a35;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: white;
}

.small-button:hover{
  background-color: #ea5822;
}

.small-button i {
  color: white;
}



h2 {
  font-size: 32px;
  color: #062a35;
}

i {
  color: #ea5822;
}


.big-button i{
  color: #587887;
}

h4{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #062a35;
}
/*Flexbox Main */
.flex-main{
  display: flex;
  justify-content: space-around;
  width: 5fr;
  height: 500px;
  flex-wrap: wrap;
}
h1{
  font-size: 72px;
  color: #062a35;
}


.flex-main-item:nth-child(1){
  margin-top: 50px;
  width: 50%;

}
.flex-main-item:nth-child(2){
  width: 50%;

}
.flex-main-item:nth-child(3){
  width: 100%;
  height: 50px;
}

.flex-main-item:nth-child(4){
  margin-top: 20px;
  width: 25%;
  height: 50px;
  justify-content: center;
  border-right: 3px solid #ea5822;
  color: #587887;
  margin-top: 50px;
}
.flex-main-item:nth-child(5){
  margin-top: 20px;
  width: 73%;
  margin-left: 10px;
  height: 50px;
  justify-content: center;
  color: #587887;
  margin-top: 50px;
}

.flex-main-2{
  display: flex;
  justify-content: space-between;
  width: 5fr;
  height: 0px;
  margin-bottom: 100px;
}

.flex-main-2-item{
  position: relative;
  top: 50px;
  width: 251px;
  height: 100px;
  box-sizing: border-box; 
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #edf1f1;
  font-size: 24px;
  color: #ea5822;
  line-height: 100px;

}

.flex-main-2-item i{
  color: #ea5822;
}
.flex-main-2-item span{
  color: #587887;
  font-size: 16px;
  position: relative;
  top: -80px;
}

/*Flexbox Popular Categories*/

.flex-pop-cat{
  display: flex;
  justify-content: space-between;
  width: 5fr;
  height: 580px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-pop-cat-item{
  width: 251px;
  height: 280px;
  box-sizing: border-box;
  border: 1px solid #cddde3;
}

.flex-pop-cat-item i{
  color: #ea5822;
}

/*Flexbox Popular Courses*/

.flex-pop-cour{
  display: flex;
  justify-content:space-between;
  width: 5fr;
  height: 500px;
}

.flex-pop-cour-item{
  width: 325px;
  height: 450px;
  box-sizing: border-box;
  border: 1px solid gray;
  background: white;
  position: relative;
  text-align: left;
}

.flex-pop-cour-item i{
  color: #ea5822;
}

.special h3{
  color: white;
  margin-bottom: 80px;
}

.grid-pop-cour h2{
  color: white;
}
.nahled{
  width: 100%;
  position: relative;
}

.info-row {
  position: absolute;
  top: 180px;
  width: 320px;
  align-content: center;
  color: white;
  font-size: 20px;
}

.bottom-info{
  text-align: center;
}

.wrap {
  height: 450px;
}
.special, .wrap:hover .visible {
  display: none
}
.wrap:hover .special {
  display: block
}

.special{
  background-color: #ea5822;
  color: white;
  height: 450px;
}

.special .rounded-text{
  margin-top: 50px;
  background-color: white;
  color: #ea5822;
} 

.special .price{
  background-color: white;
  color: #ea5822;
} 

.special i{
  color: white;
}

.middle-button i{
  color: #ea5822;
}

.content{
  width: 80%;
  margin: 0 auto;
}

.bottom-info{
  width: 280px;
}
.flex-pop-cat-item span{
  font-size: 20px;
}


/*Flexbox Team Members*/

.flex-team{
  display: flex;
  justify-content: space-around;
  width: 5fr;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-team-item{
  width: 251px;
  height: 400px;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: white;
  position: relative;
}

.flex-team i{
  color: #ea5822;
}

.flex-team-item{
  text-align: left;
}

.plus{
  position: absolute;
  top: 210px;
  font-size: 20px;
  margin-left: 150px;
  display: inline-block;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 150px;
  top: 90px;
  
}

.dropdown-content-item-1 {
  margin-left: -9px;
  width: 45px;
}

.dropdown-content-item-2 {
  margin-left: -12px;
  width: 45px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Flex Events */

.flex-events{
  display: flex;
  width: 5fr;
  height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: space-between;
}

.flex-events-item{
  text-align: left;
  position: relative;
}

.flex-events-item:nth-child(1){
  flex-grow: 3;
  width: 700px;
  height: 500px;
  background-color:#eaf4f7;
}
.flex-events-item:nth-child(2){
  width: 300px;
  height: 275px;
  background-image: url(../img/events/grad-students.jpg);
}
.flex-events-item:nth-child(3){
  width: 300px;
  height: 275px;
  background-image: url(../img/events/students.jpg);
}

.flex-events-item img{
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.flex-events-item span{
  color: #587887;
  font-size: 12px;
}

.event-button{
  border: 1px solid white;
  color: white;
  background-color: #ea5822;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.event-button i{
  color: white;
}

.flex-events-item p{
  color: #587887;
}

.price-events-main{ 
  position: absolute;
  background-color: #ea5822;
  border: none;
  color: white;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  top: 315px;
  left: 530px;
}

.grid-events .big-button{
  background-color: white;
  border: 1px solid gray;
  color: #062a35;
}

.content-small{
  width: 80%;
  margin: auto;
  margin-top: 150px;  
}

.price-events-side{ 
  position: absolute;
  background-color: #ea5822;
  border: none;
  color: white;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  top: 30px;
  left: 220px;
}

.content-small h4{
  color: white;
}

.content-small .event-button{
  border: none;
  color: white;
  background-color: transparent;
  padding: 15px 0px;
}

.content-small span{
  color: #cddde3;
}
/* Flex Artices*/

.flex-artices{
  display: flex;
  justify-content:space-between;
  width: 5fr;
  height: 600px;
  margin-bottom: 100px;
}

.flex-artices-item{
  width: 325px;
  height: 550px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  background: white;
  position: relative;
  text-align: left;
}

.flex-artices-item img{
  margin-bottom: 25px;
  width: 100%
}

.flex-artices-item .small-button{
  position: absolute;
  top: 503px;
  left: 282px;
}

.flex-artices-item span{
  color: #587887;
  font-size: 12px;
  margin: 25px 0px;
}

.flex-artices-item .info-row img{
  width: 40px;
  height: 40px;
  position: relative; 
  top: 10px;
}

.flex-artices-item .info-row{
  top: 470px;
  color:#ea5822;
}

/* Flex PreFooter */

.flex-prefooter{
  display: flex;
  height: 255px;
  justify-content: center;
  align-items: center;
}
.flex-prefooter-items{
  width: 325px;
}

/* Flex Photo */

.flex-photo{
  display: flex;
  height: 720px;
  justify-content:space-between;
  width: 5fr;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-photo-item{
  width: 320px;
  height: 320px;
  position: relative;
}

.flex-photo-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s;
}

.flex-photo-overlay:hover{
  opacity: 1;
}

.flex-photo-overlay h4{
  color: white;
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
}

.flex-photo-overlay .small-button{
  background-color: #ea5822;
  margin-left: 70%;
  margin-top: 55%;
}

.flex-photo-overlay .small-button:hover{
  background-color: #062a35;

}

.grid-photo hr{
  width: 70%;
  margin: auto;
  margin-bottom: 40px;

  color: #cddde3;
}

.gallery-button{  
  border: none;
  background-color: white;
  color: #062a35;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.gallery-button:active, .gallery-button:focus{
  border-bottom: 2px solid #ea5822;
  color: #ea5822;
}

.input-style{
  width: 470px;
  height: 60px;
  background-color: white;
}

.input-style .small-button{
  position: absolute;
  background-color: #ea5822;
  margin-left: 10px;
  margin-top: 8px;
}

.input-style input{
  border: none;
  text-decoration: none; 
  height: 40px;
  margin-top: 10px;
  width: 370px;
  margin-left: 20px;
}

.input-style input:focus{
  outline: none;
}

.input-style .fa-angle-down{
  color: #587887;
}

/* Flex Feedback */

.flex-feedback{
  display: flex;
  width: 5fr;
  height: 700px;
  justify-content: space-around;
}

.flex-feedback-item:nth-child(1){
  position: relative;
  margin-top: 50px;
  width: 450px;
  height: 500px;
  background-color: white;
  box-shadow: -10px -10px #587887;
}
.flex-feedback-item:nth-child(2){
  margin-top: 50px;
  width: 500px;
  height: 500px;
}

.buttons{
  position: absolute;
  margin-top: 140px;
  margin-right: 200px;
}

.flex-feedback .small-button{
  background-color: #cddde3;
}

.flex-feedback .small-button:hover{
  background-color: #ea5822;
}

.flex-feedback .small-button i{
  color: #062a35;
}

.flex-feedback .small-button:hover i{
  color: white;
}

.flex-feedback .fa-quote-left{
  position: absolute;
  margin-left: 60px;
  margin-top: 120px;
}

.flex-feedback p{
  margin-top: 50px;
  font-size: 22px;
  text-align: left;
}

.flex-feedback .thin-text{
  font-size: 16px;
  text-align: left;
  color: #587887;
}

.flex-feedback .info-row{
  color: #062a35;
  margin-top: 120px;
  margin-left: -65px;
}

.flex-feedback .info-row span{
  position: absolute;
  color: #ea5822;
  font-size: 14px;
  margin-top: -12px;
  margin-left: -40px;
}

.pictures{
  float: right;
}

.pictures img:nth-child(1){
  position: absolute;
  margin-top: 100px;
  margin-left: -50px;
  box-shadow: -10px -10px #ea5822;
}

.pictures img:nth-child(2){
  position: absolute;
  margin-top: 250px;
  margin-left: -50px;
  box-shadow: -10px 10px white;
}

.pictures img:nth-child(3){
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}

.pictures img:nth-child(4){
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
}

.pictures img:nth-child(5){
  position: absolute;
  margin-top: 350px;
  margin-left: 100px;
}

.pictures img:nth-child(6){
  position: absolute;
  margin-top: 0px;
  margin-left: 250px;
}

.pictures img:nth-child(7){
  position: absolute;
  margin-top: 150px;
  margin-left: 250px;
}

.pictures img:nth-child(8){
  margin-top: 300px;
  margin-left: 250px;
}


.grid-feedback .section-names h3{
  color: white;
}

.grid-feedback .section-names h2{
  color: white;
}

.grid-feedback .section-names i{
  color: white;
}

.flex-career{
  display: flex;
  width: 5fr;
  height: 600px;
  justify-content: space-between;
  margin-top: 100px;
}

.flex-career-item{
  width: 45%;
  height: 500px;
  box-sizing: border-box;
}

.flex-career-item img:nth-child(1){
  float: left;
  position:relative;
}

.flex-career-item img:nth-child(2){
  position:absolute;
  margin-left: -180px;
  margin-top: 233px;
}

.inner-flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.inner-flex-item{
  width: 45%;
  margin-top: 50px;
}
.inner-flex-item:nth-child(1){
  border-right: 1px solid #cddde3;
}
.inner-flex-item p{
  width: 80%;
}

.flex-career-item .buttons{
  margin-top: 0;
}

.flex-career-item p{
  color: #587887;
}

.flex-career-item .middle-button:nth-child(1){
  background-color: #ea5822;
  color: white;
}

.flex-career-item .middle-button:nth-child(1) i{
  color: white;
}

.flex-career-item .middle-button:nth-child(1):hover{
  background-color: white;
  color: #ea5822;
}

.flex-career-item .middle-button:nth-child(1):hover i{
  color: #ea5822;
}

.flex-career-item .middle-button:nth-child(2){
  background-color: white;
  color:#062a35;
  border: none;
}
.flex-career-item .middle-button:nth-child(2):hover{
  background-color:#062a35;
  color: white;
}

/* Flex Footer*/

.flex-footer{
  display: flex;
  width: 5fr;
  margin: auto;
  height: 600px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.flex-footer-item:nth-child(1){
  width: 33%;
  height: 100px;
}

.socials{
  width: 16%;
  height: 100px;
  text-align: right;
  line-height: 100px;
  color: white;
  font-size: 24px;
}

.info{
  color: #587887;
  font-size: 15px;
  width: 20%;
}

.flex-footer-item h4{
  color: white;
}

.flex-footer-item:nth-child(7){
  margin-top: 45px;
}

.flex-footer-item:nth-child(9){
  width: 38%;
  color: #587887;
}
.flex-footer-item:nth-child(10){
  width: 100%;
  height: 50px;
  margin-top: 50px;
  color: #587887;
  text-align: center;
  border: 1px solid #587887;
}

.heading{
  margin-bottom: 30px;
}

.grid-footer hr:nth-child(1){
  margin-top: 250px;
  position: absolute;
  width: 56%;
  border: 1px solid #394d57;
}

.grid-footer hr:nth-child(2){
  margin-top: 249px;
  position: absolute;
  width: 10%;
  margin-left: 22%;
  border: 1px solid #cd5a2b;
}