
/* Grid */

.grid{
  display: grid;
  grid-template-columns: 1fr 1170px 1fr;
}
.grid-nav {
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #eaf4f7;
  
}
.grid-main{
  grid-column: 2/3;
  grid-row: 2;
  background: transparent;
}
.grid-pop-cat{
  text-align: center;
  grid-column: 2/3;
  grid-row: 3;
}
.grid-pop-cour{
  text-align: center;
  grid-column: 2/3;
  grid-row: 4;
  background: #1d2f39;
}
.grid-photo{
  text-align: center;
  grid-column: 2/3;
  grid-row: 5;
  margin-top: 100px;
}
.grid-team{
  text-align: center;
  grid-column: 2/3;
  grid-row: 6;
}
.grid-events{
  text-align: center;
  grid-column: 2/3;
  grid-row: 7;
}
.grid-feedback{
  grid-column: 2/3;
  grid-row: 8;
  text-align: center;

}
.grid-career{
  grid-column: 2/3;
  grid-row: 9;
}
.grid-artices{
  grid-column: 2/3;
  grid-row: 10;
  text-align: center;
}
.grid-prefooter{
  grid-column: 1/-1;
  grid-row: 11;
  background-color: #cd5a2b;
}

.grid-footer{
  grid-column: 2/3;
  grid-row: 12;
}
.bg-dark {
  grid-column: 1 / -1;
  grid-row: 4;
  background: #1d2f39;
}

.bg-light{
  grid-column: 1 / -1;
  grid-row: 6;
  background: #ecf3f5;
}

.bg-light-2{
  grid-column: 1 / -1;
  grid-row: 9;
  background: #ecf3f5;
}

.bg-main{
  grid-column: 2 / 3;
  grid-row:  1/span 2;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-light-main{
  grid-column: 1 / 2;
  grid-row:  1/ span 2;
  background: #ecf3f5;
}

.bg-dark-main {
  grid-column: 3 / 4;
  grid-row: 1/span 2;
  background: #cddde3;
}

.flex-main .fa-wheelchair{
  float: left;
  color: #ea5822;
  margin-right: 10px;
}

.feedback-bg{
  grid-column: 1/ -1;
  grid-row: 8;
  background-image: url(../img/students-say-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bg{
  grid-column: 1 / -1;
  grid-row: 12;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navigace */

.index .grid-nav{
  background-color: transparent;
}
.menu{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}

.menu li {
  display:block;
  list-style-type:none;
  line-height: 0px;
}
  
.menu li a{
  display:flex;
  text-align:center;
  text-decoration:none;
  color:#062a35;
  padding:1rem;
  line-height: 50px;
}

.menu li:nth-child(1) {
  margin-top: -5px;
}

.sub-menu li a{
  line-height: 20px;
}
  
.menu li a:hover{
  color: #ea5822;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-top: 3px solid #ea5822;
}

nav ul li:hover > ul {
  display:block;
  color:#fff;
  padding-left:2rem;
}


nav ul li:hover > ul {
  padding-left:0;
}

nav ul li:hover > ul a{
  color: #ea5822; 
}


.sub-menu li:hover, .sub-menu li a:hover{
  background: #ea5822;
  color:white;
}

nav {
  position: relative;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  
}

ul.right {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  margin-top: 16px;
}

ul.right li{
  background-color: white;
  height: 46px;
  line-height: 46px;
  margin: 5px;
}

.menu{
  height: 80px;

}

nav a {
  text-decoration: none;
  color: #777;
  padding: 15px;
  font-family: sans-serif;
  font-size: 18px;
}

nav ul {
  list-style: none;
}
.right li:nth-child(1){
  background-color: #ea5822;
}
.right li:nth-child(1) i{
  color: white;
}
.right li:nth-child(4){
  width: 46px;
  height: 46px;
  background: transparent;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
}
.menu li i{
  color: #062a35;
  margin-top: 16px;
}

.nav-centered .menu .mid-nav:nth-child(2){
  margin-left: 350px;
}

@media (max-width: 768px) and (min-width: 481px){
  .logo{
    position: absolute;
  }
  .mid-nav{
    margin-top: 80px;
    margin-left: 20px;
  }

  ul.right li{
    display: none;
  }

  ul.right li:nth-child(3){
    display: block;
    top: 40px;
    position: absolute;
    width: 120px;
    margin-left: -165px;
  }
}
@media (max-width:480px){
  .grid{
    grid-template-columns: 1fr 480px 1fr;
  }
  .menu{
    flex-direction: column;
    height: auto;
  }
  ul.right{
    display: none;
  }
}
/* Celá stránka */
main {
  background: #eaf4f7;
}

h3 {
    color: #ea5822;
}

.section-names{
  margin-top: 100px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.price {
  background-color: #ea5822;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30%;
  margin-left: 80px;
}
.rounded-text {
  background-color: #ea5822;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30%;
}

.big-button{
  border: 1px solid #587887;
  background-color:  #1d2f39;
  color:  #587887;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 100px;
}

.middle-button{
  border: 1px solid #ea5822;
  background-color:  white;
  color: #ea5822;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 55px;
}

.big-button:hover{
  background-color: #ea5822;
  color: white;
}

.small-button{
  padding: 15px 15px;
  background-color: #062a35;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: white;
}

.small-button:hover{
  background-color: #ea5822;
}

.small-button i {
  color: white;
}

h2 {
  font-size: 32px;
  color: #062a35;
}

i {
  color: #ea5822;
}


.big-button i{
  color: #587887;
}

h4{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #062a35;
}
/*Flexbox Main */
.flex-main{
  display: flex;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
}
h1{
  font-size: 72px;
  color: #062a35;
}


.flex-main-item:nth-child(1){
  margin-top: 50px;
  width: 50%;

}
.flex-main-item:nth-child(2){
  width: 50%;

}
.flex-main-item:nth-child(3){
  width: 100%;
  height: 50px;
}

.flex-main-item:nth-child(4){
  margin-top: 20px;
  width: 21%;
  height: 50px;
  justify-content: center;
  border-right: 3px solid #ea5822;
  color: #587887;
  margin-top: 50px;
}
.flex-main-item:nth-child(5){
  margin-top: 20px;
  width: 73%;
  margin-left: 10px;
  height: 50px;
  justify-content: center;
  color: #587887;
  margin-top: 50px;
}

.flex-main-2{
  display: flex;
  justify-content: space-between;
  width: 5fr;
  height: 0px;
  margin-bottom: 100px;
}

.flex-main-2-item{
  position: relative;
  top: 50px;
  width: 251px;
  height: 100px;
  box-sizing: border-box; 
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #edf1f1;
  font-size: 24px;
  color: #ea5822;
  line-height: 100px;

}

.flex-main-2-item i{
  color: #ea5822;
}
.flex-main-2-item span{
  color: #587887;
  font-size: 16px;
  position: relative;
  top: -80px;
}
.input-style{
  width: 470px;
  height: 60px;
  background-color: white;
}

.input-style .small-button{
  position: absolute;
  background-color: #ea5822;
  margin-left: 10px;
  margin-top: 8px;
}

.input-style input{
  border: none;
  text-decoration: none; 
  height: 40px;
  margin-top: 10px;
  width: 370px;
  margin-left: 20px;
}

.input-style input:focus{
  outline: none;
}

.input-style .fa-angle-down{
  color: #587887;
}

@media (max-width: 768px) and (min-width: 481px) {
  .bg-main{
    background-image: none;
    background-color: #eaf4f7;
  }
  .flex-main{
    justify-content: center;
  }
  .flex-main-item:nth-child(1){
    width: 80%;
  }
  .flex-main-item:nth-child(3){
    width: 80%;
    margin: auto;
  }
  .input-style{
    width: 100%;
  }
  .input-style input{
    width: 84%;
  }
  .flex-main-item:nth-child(4){
    width: 25%;
  }
  .flex-main-item:nth-child(5){
    width: 25%;
  }
  .flex-main-2-item{
    width: 180px;
  }
}


/*Flexbox Popular Categories*/

.flex-pop-cat{
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-pop-cat-item{
  width: 251px;
  height: 280px;
  box-sizing: border-box;
  border: 1px solid #cddde3;
}

.flex-pop-cat-item img{
  width: 100%;
}

.flex-pop-cat-item i{
  color: #ea5822;
}

@media (max-width:768px) and (min-width: 481px) {
  .flex-pop-cat{
    justify-content: space-around;
  }
  .flex-pop-cat-item{
    width: 280px;
    margin-bottom: 50px;
  }
}

/*Flexbox Popular Courses*/

.flex-pop-cour{
  display: flex;
  justify-content:space-between;
  height: auto;
}

.flex-pop-cour-item{
  width: 325px;
  height: 450px;
  box-sizing: border-box;
  border: 1px solid gray;
  background: white;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}


.flex-pop-cour-item i{
  color: #ea5822;
}

.special h3{
  color: white;
  margin-bottom: 80px;
}

.grid-pop-cour h2{
  color: white;
}
.nahled{
  width: 100%;
  position: relative;
}

.info-row {
  position: absolute;
  top: 180px;
  width: 280px;
  align-content: center;
  color: white;
  font-size: 20px;
}


.bottom-info{
  margin: auto;
  width: 80%;
  text-align: center;
}

.wrap {
  height: 450px;
}
.special, .wrap:hover .visible {
  display: none
}
.wrap:hover .special {
  display: block
}

.special{
  background-color: #ea5822;
  color: white;
  height: 450px;
}

.special .rounded-text{
  margin-top: 50px;
  background-color: white;
  color: #ea5822;
} 

.special .price{
  background-color: white;
  color: #ea5822;
} 

.special i{
  color: white;
}

.middle-button i{
  color: #ea5822;
}

.content{
  width: 80%;
  margin: 0 auto;
}

.flex-pop-cat-item span{
  font-size: 20px;
}
@media (max-width: 1024px) and (min-width: 481px) {
  .info-row{
    width: 250px;
  }
  .flex-pop-cour{
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .flex-pop-cour-item:nth-child(1){
    margin-bottom: 50px;
  }
  .big-button{
    margin-top: 50px;
  }
  .info-row{
    width: 280px;
  }
}

/*Flexbox Team Members*/

.flex-team{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 100px;
}

.flex-team-item{
  width: 251px;
  height: 400px;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: white;
  position: relative;
}

.break{
  display: none;
}
@media (max-width:768px) and (min-width: 481px)  {
  .flex-team-item{
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
  }
  .break{
    flex-basis: 100%;
    height: 0;
  }
  
}
.flex-team i{
  color: #ea5822;
}

.flex-team-item{
  text-align: left;
}

.plus{
  position: absolute;
  top: 210px;
  font-size: 20px;
  margin-left: 150px;
  display: inline-block;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 150px;
  top: 90px;
  
}

.dropdown-content-item-1 {
  margin-left: -9px;
  width: 45px;
}

.dropdown-content-item-2 {
  margin-left: -12px;
  width: 45px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Flex Events */

.flex-events{
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: space-between;
}

.flex-events-item{
  text-align: left;
  position: relative;
}

.flex-events-item:nth-child(1){
  flex-grow: 3;
  width: 700px;
  height: 500px;
  background-color:#eaf4f7;
}
.flex-events-item:nth-child(2){
  width: 300px;
  height: 275px;
  background-image: url(../img/events/grad-students.jpg);
}
.flex-events-item:nth-child(3){
  width: 300px;
  height: 275px;
  background-image: url(../img/events/students.jpg);
}

.flex-events-item img{
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.flex-events-item span{
  color: #587887;
  font-size: 12px;
}

.event-button{
  border: 1px solid white;
  color: white;
  background-color: #ea5822;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.event-button i{
  color: white;
}

.flex-events-item p{
  color: #587887;
}

.price-events-main{ 
  position: absolute;
  background-color: #ea5822;
  border: none;
  color: white;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  top: 345px;
  left: 550px;
}

.grid-events .big-button{
  background-color: white;
  border: 1px solid gray;
  color: #062a35;
}

.content-small{
  width: 80%;
  margin: auto;
  margin-top: 150px;  
}

.price-events-side{ 
  position: absolute;
  background-color: #ea5822;
  border: none;
  color: white;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  top: 30px;
  left: 220px;
}

.content-small h4{
  color: white;
}

.content-small .event-button{
  border: none;
  color: white;
  background-color: transparent;
  padding: 15px 0px;
}

.small-info{
  color: #cddde3;
  font-size: 12px;
}

@media (max-width: 768px) and (min-width: 481px){
  .flex-events{
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }
  .flex-events-item:first-child{
    height: auto;
    margin-bottom: 50px;

  }
  .price-events-main{ 
    top: 380px;
    left: 600px;
  }
}

/* Flex Artices*/

.flex-artices{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-artices-item{
  width: 325px;
  height: 550px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  background: white;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}

.flex-artices-item img{
  margin-bottom: 25px;
  width: 100%
}

.flex-artices-item .small-button{
  position: absolute;
  top: 503px;
  left: 282px;
}

.flex-artices-item span{
  color: #587887;
  font-size: 12px;
  margin: 25px 0px;
}

.flex-artices-item .info-row img{
  width: 40px;
  height: 40px;
  position: relative; 
  top: 10px;
}

.flex-artices-item .info-row{
  top: 470px;
  color:#ea5822;
}


/* Flex PreFooter */

.flex-prefooter{
  display: flex;
  height: 255px;
  justify-content: center;
  align-items: center;
}
.flex-prefooter-items{
  width: 325px;
}


@media (max-width: 1024px) and (min-width: 481px) {
  .flex-prefooter .responsive-img{
    width: 130px;
    height: 145px;
  }
}

/* Flex Photo */

.flex-photo{
  display: flex;
  height: auto;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-photo-item{
  width: 320px;
  height: 320px;
  position: relative;
}

.flex-photo-item:nth-child(1){
  margin-bottom: 50px;
}

.flex-photo-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s;
}

.flex-photo-overlay:hover{
  opacity: 1;
}

.flex-photo-overlay h4{
  color: white;
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
}

.flex-photo-overlay .small-button{
  background-color: #ea5822;
  margin-left: 70%;
  margin-top: 55%;
}

.flex-photo-overlay .small-button:hover{
  background-color: #062a35;

}

.grid-photo hr{
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  
  color: #cddde3;
}

.gallery-button{  
  border: none;
  background-color: white;
  color: #062a35;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.gallery-button:active, .gallery-button:focus{
  border-bottom: 2px solid #ea5822;
  color: #ea5822;
}

@media (max-width: 768px) and (min-width: 481px){
  .flex-photo{
    justify-content: space-around;
  }
  .flex-photo-item{
    margin-bottom: 20px;
  }
}

/* Flex Feedback */

.flex-feedback{
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-bottom: 100px;
}

.flex-feedback-item:nth-child(1){
  position: relative;
  margin-top: 50px;
  width: 450px;
  height: 500px;
  background-color: white;
  box-shadow: -10px -10px #587887;
}
.flex-feedback-item:nth-child(2){
  margin-top: 50px;
  width: 500px;
  height: 500px;
}

.buttons{
  position: absolute;
  margin-top: 140px;
  margin-right: 200px;
}

.flex-feedback .small-button{
  background-color: #cddde3;
}

.flex-feedback .small-button:hover{
  background-color: #ea5822;
}

.flex-feedback .small-button i{
  color: #062a35;
}

.flex-feedback .small-button:hover i{
  color: white;
}

.flex-feedback .fa-quote-left{
  position: absolute;
  margin-left: 60px;
  margin-top: 120px;
}

.flex-feedback p{
  margin-top: 50px;
  font-size: 22px;
  text-align: left;
}

.flex-feedback .thin-text{
  font-size: 16px;
  text-align: left;
  color: #587887;
}

.flex-feedback .info-row{
  color: #062a35;
  margin-top: 120px;
  margin-left: -65px;
}

.flex-feedback .info-row span{
  position: absolute;
  color: #ea5822;
  font-size: 14px;
  margin-top: -12px;
  margin-left: -40px;
}

.pictures{
  float: right;
}

.pictures img:nth-child(1){
  position: absolute;
  margin-top: 100px;
  margin-left: -50px;
  box-shadow: -10px -10px #ea5822;
}

.pictures img:nth-child(2){
  position: absolute;
  margin-top: 250px;
  margin-left: -50px;
  box-shadow: -10px 10px white;
}

.pictures img:nth-child(3){
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}

.pictures img:nth-child(4){
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
}

.pictures img:nth-child(5){
  position: absolute;
  margin-top: 350px;
  margin-left: 100px;
}

.pictures img:nth-child(6){
  position: absolute;
  margin-top: 0px;
  margin-left: 250px;
}

.pictures img:nth-child(7){
  position: absolute;
  margin-top: 150px;
  margin-left: 250px;
}

.pictures img:nth-child(8){
  margin-top: 300px;
  margin-left: 250px;
}


.grid-feedback .section-names h3{
  color: white;
}

.grid-feedback .section-names h2{
  color: white;
}

.grid-feedback .section-names i{
  color: white;
}

@media (max-width: 768px) and (min-width:481px){
  .flex-feedback{
    flex-wrap: wrap;
  }
  
  .flex-feedback-item:nth-child(2){
    display: none;
  }
}

/* Flex Career*/

.flex-career{
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.flex-career-item{
  width: 45%;
  height: 500px;
  box-sizing: border-box;
}

.flex-career-item img:nth-child(1){
  float: left;
  position:relative;
}

.flex-career-item img:nth-child(2){
  position:absolute;
  margin-left: -180px;
  margin-top: 233px;
}

.inner-flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.inner-flex-item{
  width: 45%;
  margin-top: 50px;
}
.inner-flex-item:nth-child(1){
  border-right: 1px solid #cddde3;
}
.inner-flex-item p{
  width: 80%;
}

.flex-career-item .buttons{
  margin-top: 0;
}

.flex-career-item p{
  color: #587887;
}

.flex-career-item .middle-button:nth-child(1){
  background-color: #ea5822;
  color: white;
}

.flex-career-item .middle-button:nth-child(1) i{
  color: white;
}

.flex-career-item .middle-button:nth-child(1):hover{
  background-color: white;
  color: #ea5822;
}

.flex-career-item .middle-button:nth-child(1):hover i{
  color: #ea5822;
}

.flex-career-item .middle-button:nth-child(2){
  background-color: white;
  color:#062a35;
  border: none;
}
.flex-career-item .middle-button:nth-child(2):hover{
  background-color:#062a35;
  color: white;
}
@media (max-width: 1024px) and (min-width: 481px)  {
  .buttons{
    margin-right: 0;
    margin-top: 0;
    width: 400px;
  }
}

@media (max-width: 768px) and (min-width: 481px){
  .flex-career{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .flex-career-item:first-child{
    display: none;
  }
  .flex-career-item:nth-child(2){
    order: -1;
    width: 450px
  }
  .flex-career-item p{
    text-align: center;
    margin-left: 20px;
  }
  .inner-flex-item:first-child{
    border-right: none;
  }
  .buttons{
    margin-left: 40px;
  }
}

/* Flex Footer*/

.flex-footer{
  display: flex;
  margin: auto;
  height: 600px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.flex-footer-item:nth-child(1){
  width: 33%;
  height: 100px;
}

.socials{
  width: 16%;
  height: 100px;
  text-align: right;
  line-height: 100px;
  color: white;
  font-size: 24px;
}

.info{
  color: #587887;
  font-size: 15px;
  width: 20%;
}

.flex-footer-item h4{
  color: white;
}

.flex-footer-item:nth-child(7){
  margin-top: 45px;
}

.flex-footer-item:nth-child(9){
  width: 38%;
  color: #587887;
}
.flex-footer-item:nth-child(10){
  width: 100%;
  height: 50px;
  margin-top: 50px;
  color: #587887;
  text-align: center;
  border: 1px solid #587887;
}

.heading{
  margin-bottom: 30px;
}

.grid-footer hr:nth-child(1){
  margin-top: 250px;
  position: absolute;
  width: 56%;
  border: 1px solid #394d57;
}

.grid-footer hr:nth-child(2){
  margin-top: 249px;
  position: absolute;
  width: 10%;
  margin-left: 22%;
  border: 1px solid #cd5a2b;
}
@media (max-width:1024px) and (min-width: 481px) {
  .flex-footer{
    width: 80%;
  }
  .flex-footer-item .responsive-img{
    width: 200px;
    height: 66px;
  }
  .socials{
    line-height: 66px;
  }
  .grid-footer hr:nth-child(1){
    width: 80%;
    margin-left: 10%;
  }
  .grid-footer hr:nth-child(2){
    width: 10%;
    margin-left: 45%;
  }
  .socials span{
    visibility: hidden;
  }
  .info{
    font-size: 12px;
  }
  .flex-footer-item:nth-child(9) p{
    font-size: 12px;
  }
}

/* About Us */

.grid-header{
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}

.grid-header h1{
  color: white;
}


.about .grid-main{
  grid-column: 2/3;
  grid-row: 3;
}

.about .grid-main-2{
  grid-column: 2/3;
  grid-row: 4;
}

.grid-goals{
  grid-column: 2/3;
  grid-row: 5;
}
.about .grid-team{
  text-align: center;
  grid-column: 2/3;
  grid-row: 6;
}

.about .grid-feedback{
  grid-column: 2/3;
  grid-row: 7;
  text-align: center;
}

.about .grid-artices{
  grid-column: 2/3;
  grid-row: 8;
  text-align: center;
}
.about .grid-prefooter{
  grid-column: 1/-1;
  grid-row: 9;
  background-color: #cd5a2b;
}

.about .grid-footer{
  grid-column: 2/3;
  grid-row: 10;
}

.header-bg{
  grid-column: 1/-1;
  grid-row: 2;
  background-image: url(../img/students-say-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about .feedback-bg{
  grid-row: 7;
}

.about .footer-bg{
  grid-row: 10;
}

.about .left-nav a{
  text-decoration: none;
  text-decoration-color: none;
}

.about .flex-career-item .inner-flex{
  flex-direction: column;
  height: 250px;
}

.about .flex-career-item .inner-flex-item{
  width: 500px;
}

.about .flex-career-item .inner-flex-item:nth-child(1){
  border-right: none;
  
}

.about .flex-career-item .inner-flex hr{
  border: 1px solid #eaf4f7;
  width: 400px;
}

.about .flex-career-item .inner-flex-item i{
  float: left;
  margin-top: 20px
}

.about .flex-career-item .inner-flex-item p, .about .flex-career-item .inner-flex-item h4{
  margin-left: 40px;
}

.about .flex-career-item p {
  margin-bottom: 0px;
}

.about .flex-career-item .inner-flex .buttons{
  margin-top: 50px;
}

.about .flex-career{
  position: relative;
}

.about .bg-light{
  grid-row: 5;
}

.about .flex-main-2-item{
  border-top: 2px solid #ea5822;
}

.about .grid-footer hr:nth-child(1){
  margin-top: 150px;
  position: absolute;
  width: 56%;
  border: 1px solid #394d57;
}

.about .grid-footer hr:nth-child(2){
  margin-top: 149px;
  position: absolute;
  width: 10%;
  margin-left: 22%;
  border: 1px solid #cd5a2b;
}

.flex-goals{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 5fr;
  height: 500px;
  flex-wrap: wrap;
  color: #587887;
}

.flex-goals-item:nth-child(1){
  width: 38%;
}
.flex-goals-item:nth-child(2){
  width: 55%;
}

.flex-goals .inner-flex-item{
  width: 150px;

}

.about .inner-flex-item:nth-child(1){
  border-right: none;
}

/* Our Courses */


.grid-courses{
  grid-column: 2/3;
  grid-row: 3;
  text-align: center;
  margin-top: 50px;
}

.our-courses .flex-pop-cour{
  display: flex;
  justify-content:space-between;
  width: 5fr;
  height: auto;
  flex-wrap: wrap;
}

.our-courses .flex-pop-cour-item{
  width: 250px;
  height: 450px;
  box-sizing: border-box;
  border: 1px solid gray;
  background: white;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}

.our-courses .info-row {
  position: absolute;
  top: 120px;
  width: 280px;
  align-content: center;
  color: white;
  font-size: 20px;

}
.our-courses .flex-artices .info-row {
  top: 450px;
  color: #ea5822;
}
.our-courses .price{
  margin-left: 20px;
}

.our-courses .special{
  background-color: #4862fb;
}

.our-courses .special .info-row{
  top: 180px;
}
.our-courses .rounded-text {
  background-color: #4862fb;
}
.our-courses .special .rounded-text{
  background-color: white;
  color: #4862fb;
}

.our-courses .special .price{
  color: #4862fb;
}

.our-courses .special .middle-button{
  color: #4862fb;
  border: none;
  border-radius: 20px;
}

.our-courses .special .middle-button i{
  color: #4862fb;
}

/* FAQ */

.faq .grid-faq{
  grid-column: 2/3;
  grid-row: 3;
}
.faq .grid-faq-career{
  grid-column: 2/3;
  grid-row: 4;
}

.faq .bg-light{
  grid-column: 1/-1;
  grid-row: 3/ span 4;
}

.flex-faq{
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: 50px;
}

.flex-faq-item:first-child{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
}
.flex-faq-2-item{
  height: 300px;
  background-color: white;

}

.flex-faq-item:nth-child(2){
  width: 70%;
  height: 700px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-faq-2-item:first-child{
  height: auto;
  text-align: center;
}
.flex-faq-2-item:nth-child(2){
  height: auto;
}

.flex-faq .avatar{
  margin-top: 20px;
  width: 130px;
  height: 130px;
}

.flex-faq-2-item h3{
  font-size: 12px;
}

.flex-faq-2-item p{
  font-size: 14px;
  color: #587887;
  margin-bottom: 50px;
}

.faq-input{
  border: 1px solid #587887;
  text-decoration: none;
  padding: 12px 15px;
  margin-bottom: 10px;
  width: 80%;
}
.faq-input:nth-child(4){
  height: 50px;
  
}

.flex-faq-2-item:nth-child(2) h3{
  font-size: 20px;
}

.flex-faq-2-item .event-button{
  width: 94%;
  margin-bottom: 20px;
}

.accordion-button{
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #cddde3;
  cursor: pointer;
  background-color: white;
  text-align: left;
  transition: 0.2s;
  color: #062a35;
  font-size: 20px;
}

.accordion-button::after{
  content: '\203A';
  float: right;
  transform: scale(1.5);
}

.accordion-button-active{
  color: #ea5822;
}

.accordion-button-active::after{
  content: '\25BE';
}

.accordion-content{
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  color: #587887;

  padding:  0 15px;

}

/* Flex FAQ CAREER */

.flex-faq-item:nth-child(2) h4{
  padding: 15px;
  margin-top: 50px;
}

.flex-faq-career{
  display: flex;
}
.flex-faq-career-item{
  width: 50%;

}

.flex-faq-career-item:nth-child(1){
  background-color: #191f51;
}

.flex-faq-career-item:nth-child(2){
  background-color: #061047;
}

.flex-faq-career .content{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  color: white;
}

.flex-faq-career h3{
  color: white;
  font-size: 40px;
}

.flex-faq-career i{
  color: white;
}

.flex-faq-career p{
  color: #8d8fb3;
  font-size: 20px;
}

.flex-faq-career-item:nth-child(1) .content{
  margin-left: 0;
}

.flex-faq-career-item:nth-child(2) .content{
  margin-right: 0;
}

.flex-faq-career-item:nth-child(1) .middle-button{
  background-color: #ea5822;
  color: white;
  border-radius: 25px;
}
.flex-faq-career-item:nth-child(2) .middle-button{
  background-color: #4862fb;
  border: none;
  color: white;
  border-radius: 25px;
}

.bg-left-career{
  background-color: #191f51;
  grid-column: 1/2;
  grid-row: 4;
}

.bg-right-career{
  background-color: #061047;
  grid-column: 3/4;
  grid-row: 4;
}

/*EventDetails*/

.event-details .grid-header{
  grid-row: 2;
}

.event-details .grid-main{
  grid-row: 3;
}

.event-details .grid-importance{
  grid-column: 2/3;
  grid-row: 4;
}

.event-details .grid-events{
  grid-column: 2/3;
  grid-row: 5;
}

.flex-importance{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  height: auto;
  justify-content: space-between;
}
.flex-importance-item{
  width: 50%;
}
.flex-importance-item p{
  width: 90%;
}

.flex-events-events{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.flex-events-events-item{
  text-align: left;
  position: relative;
  width: 350px;
  height: 325px;
  background-image: url(../img/events/grad-students.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.flex-events-events-item img{
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.flex-events-events-item span{
  color: #587887;
  font-size: 12px;
}

.flex-events-events .price-events-side{
  margin-left: 40px;
}
.flex-events-events .small-info{
  margin-top: 200px;
}

.event-details p{
  color: #587887;
}

ul.events-text{
  list-style: none;
  font-size: 18px;
  margin-left: -50px;
}

ul.events-text li{
  padding: 10px;
}

ul.events-text li i{
  color: #061047;
}

.event-details .grid-main .small-info{
  font-size: 15px;
  color: #587887;
}
.event-details .grid-main .buttons{
  top: 390px;
  margin-left: 880px;
}
.event-details .grid-main .price{
  background-color: #4862fb;
}

/* Course Details*/

.courses-details .grid-main{
  grid-row: 3;
  margin-top: 100px;
}

.courses-details .grid-main p{
  color: #587887;
}

.grid-content{
  grid-column: 2/3;
  width: 65%;
  margin-top: 50px;
}

.grid-content p{
  color: #587887;
}

.sidebar {
  margin: 0;
  padding: 0;
  float: right;
  width: 200px;
  height: auto;
  width: 30%;
  overflow: auto;
  border: 1px solid #cddde3;
}

.sidebar-left{
  color: #062a35;

}
.sidebar-right{
  color: #ea5822;
  float: right;
}
.help{
  float: left;
  width: 66%;
}

.sidebar-row{
  padding: 25px 15px;
  border-bottom: 1px solid #cddde3;
}

.sidebar .content{
  margin-top: 10px;
}

.sidebar .middle-button{
  background-color: #4862fb;
  border: none;
  color: white;
  border-radius: 25px;
  margin-left: 20%;
}

.sidebar:nth-child(3){
  height: 400px;
  overflow: hidden;
  margin-top:  50px;
}
.sidebar img{
  width: 100%;
}

.courses-details .accordion-content img{
  width: 120px;
  height: 80px;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}
.courses-button{
  text-decoration: none;
  padding: 15px 15px;
  border: 1px solid #cddde3;
  background-color: white;
  width: 100%;
  text-align: left;
  font-size: 15px;
  color: #062a35;
  font-weight: bold;
}
.courses-button:hover{
  background-color: #eaf4f7;
}

.courses-button span{
  float: right;
  color: #587887;
}

.flex-instructors{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 100px;
}
.flex-instructors-item{
  width: 350px;
  height: 350px;
  border: 1px solid #cddde3;
  margin-bottom: 50px;
  text-align: center;
}

.flex-instructors .avatar{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.flex-instructors h3{
  color: #587887;
  font-size: 15px;
}

.courses-details .grid{
  grid-row-end: 6;
}

/* Instructor Details */

.instructor-details .flex-pop-cour{
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}

.instructor-details .grid-pop-cour{
  background-color: white;
}
.instructor-details h2{
  color: #062a35;
}

.instructor-details .grid{
  background-color: #eaf4f7;
}

.grid-instructor{
  grid-column: 2/3;
  grid-row: 3;
}

.flex-instructor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 100px;
}

.flex-instructor-item{

  margin-bottom: 40px;
  background-color: white;
}

.flex-instructor-item:first-child{
  width: 40%;
  height: 600px;
}
.flex-instructor-item:first-child img{
  width: 100%;
}

.flex-instructor-item:nth-child(2){
  width: 56%;
  color: #587887;
}
.flex-instructor-item:nth-child(3){
  width: 48%;
  color: #587887;
}
.flex-instructor-item:nth-child(3) img{
  margin-bottom: 50px;
}

.flex-instructor-item:nth-child(4){
  width: 48%;
}
.instructor-socials{
  float:right;
  margin-top: -90px;
  justify-content: space-around;
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.instructor-socials-item{
  width: 45px;
  height: 45px;
}

.instructor-info{
  margin-top: 30px;
  width: 200px;
  color: #587887;
}

.instructor-info hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

.instructor-details .flex-main-2-item{
  box-shadow: none;
  font-size: 35px;
}

.instructor-details .flex-main-2-item:first-child{
  border-right: 1px solid #cddde3;
  
}

.flex-instructor-item:nth-child(4) i{
  float: left;
}
.content-item{
  width: 48%;
  color: #587887;
}

.content-item:nth-child(1){
  float: left;
}
.content-item:nth-child(2){
  float: right;

}
.content-item span{
  font-size: 20px;
  font-weight: bold;
  color: #062a35;
}
.content-item:nth-child(5){
  float: left;
}
.content-item:nth-child(6){
  float: right;
}

.grid-space{
  height: 100px;
  grid-row: 6;
}

/* CELA STRANKA */
@media (max-width: 768px) and (min-width: 481px){
  .grid{
    grid-template-columns: 1fr 768px 1fr;
  }
}
